/**
 * Minimal styles for the accordion layout
 */

 .widget-archive-akkordion li.archive-year {
    cursor: pointer;
}

.widget-archive-akkordion .archive-year ul {
    display: none;
    padding-left: 20px;
}
